<h1>
    Sentinels
</h1>
<div class="card card-body">
    something here
</div>

@section Scripts {
    <script type="text/javascript">
        'use strict';
        (() => {
            const tables = {};

        })();
    </script>
}
